.colmask{
    position: relative;
    overflow: hidden;
    margin: 0px auto;
    width: 100%;
 }
 .header{
    float: left;
    width: 100%;
 }
 .colmid{
    position: relative;
    width: 100%;
    right: 33%;
 }
 .colleft{
    position: relative;
    width: 100%;
    right: 33%;
 }
 .col1{
    position: relative;
    overflow: hidden;
    float: left;
    width: 31%;
    left: 101%;
 }
 .col2{
    position: relative;
    overflow: hidden;
    float: left;
    width: 32%;
    left: 36%;
 }
 .col3{
    position: relative;
    overflow: hidden;
    float: left;
    width: 31%;
    left: 71%;
 }
 .footer{
    float: left;
    width: 100%;
 }
 /* Float four columns side by side */
.column {
    float: left;
    width: 30%;
    padding: 0 1%;
  }
  

  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 5px -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 4px;
    text-align: center;
    background-color: #f1f1f1;
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }